@model VolenteerListViewModel
<a asp-controller="Admin" asp-action="Create" class="btn btn-primary pull-right">Add New Volunteer</a>
<br />
<h1>
    Volenteers
    <div page-model="@Model.Paginginfo" page-action="List" page-classes-enabled="true"
         page-class="btn" page-class-nromal="btn-default"
         page-class-selected="btn-primary" class="btn-group pull-right">
    </div>
</h1>
@foreach (var v in Model.Volenteers)
{
    @Html.Partial("VolenteerSummary", v)
}

<div page-model="@Model.Paginginfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-nromal="btn-default"
     page-class-selected="btn-primary" page-url-status="@Model.CurrentStatus"
     class="btn-group pull-right">
</div>