@model IEnumerable<string>

<a class="btn btn-block btn-default"
   asp-action="List"
   asp-controller="Volenteer"
   asp-route-status="">
    Home
</a>

@foreach (string status in Model)
{
    <a class="btn btn-block btn-default"
       asp-action="List"
       asp-controller="Volenteer"
       asp-route-status="@status"
       asp-route-page="1">
        @status
    </a>
}