<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>VolenteerManagement</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="btn btn-danger pull-right" asp-controller="Account" asp-action="Logout">Log Out</a>
        <a class="navbar-brand" href="#">VOLENTEER MANAGEMENT</a>
    </div>
    <div class="row panel">
        <div id="status" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
